*{
	-webkit-overflow-scrolling: touch; //解决移动端滑动卡顿
}

html, body {
	height: 100vh;
	margin: 0 auto;
}

a {
	text-decoration: none;
	font-size: inherit;
	color: inherit;
}
input, button, textarea {
	outline: 0;
	border: 0;
	font-size: inherit;
}